{{#if isShown}}
  <aside id="explain-redirect">
    <div class="container">
      <div class="row">
        <div class="inner">
          <h5>We've Moved!</h5>
          Don't be alarmed by the URL, we've moved from Kitsu.io to Kitsu.app
          <span class="dismiss" {{action "dismiss"}}>
            {{svg-jar "close"}}
          </span>
        </div>
      </div>
    </div>
  </aside>
{{/if}}